.eventListItem_wrapper{
    list-style: none;
    padding: 0;
    margin: 0 0 30px 0;
    height: 20%;
   align-items: center;
    display: flex;
  border:2px solid #1E58CC;

}
.eventListItem_image{
  flex-shrink: 0;
  width: 150px;
  height: 150px;
  margin-right: 20px;
  border-radius: 50%;
  align-items: center;
}
.eventListItem_title{
  margin: 0;
  color:#1E58CC;
  font-weight: bold;
}
.eventListItem_description{
  font-weight: lighter;
}
.eventListItem_button{
  padding:10px;
  font-weight: normal;
  background: none;
  border:2px solid #1CD8CC;
  margin-bottom: 3px;
  color: #1E58CC;
}